* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  padding: 0px;
  margin: 0;
}
html, body {
  height: 100%;
}
#app {
	height: 100%;
}
.wrapper_shop {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.main{
	flex: 1 0 auto;
  max-width: 1280px;
  margin: auto;
}
.footer {
	flex: 0 0 auto;
}